

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.guests {
    display: flex;
    flex-direction: column;
   align-items: center;
}
.guestsWrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.wrapper {
    position: relative;
    height: 280px;
    width: 269px;
    overflow: hidden;
}
.wrapper {
    margin-bottom: 19px;
}

.photo1 { 
    position: absolute;
    left: -139px;
    margin-top: 34px;   
    top: 5px;
    width: 494px;
    height: 274px;
}

.photo {
    height: 280px;
    width: 269px;
}

.text {
 text-align: center;
 font-family: Montserrat-Bold;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal; 
    font-weight: normal;
}

@media (min-width: 768px) {
    .guestsWrapper {
        display: flex;
        flex-wrap: wrap;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 1281px) {}